{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/link_status.css') }}"/>
<h1>Sent Mails</h1>

{% for l in data %}
    <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
        <!-- Basic Plan -->
        <div class="col-md-12">
            <p class="f-n-hover btn btn-raised  text-600">To:</p>
            <p class="f-n-hover btn btn-info btn-raised  text-600">{{ l["receiver"] }}</p>
            <p class="f-n-hover btn btn-raised  text-600">Subject:</p>
            <p class="f-n-hover btn btn-warning btn-raised text-600">{{ l["subject"] }}</p>
            <p class="f-n-hover btn btn-raised  text-600">Seen:</p>
            <p class="f-n-hover btn btn-success btn-raised text-600">#{{ l["status"]|length }}</p>
            <p class="f-n-hover btn btn-raised  text-600">Tags:</p>
            {% for t in l["tags"] %}
                <p class="f-n-hover btn btn-danger btn-raised text-600">{{ t }}</p>
            {% endfor %}
        </div>
        <div class="row align-items-center col-md-12">
            <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                {% for i, s in l["status"].items() %}
                <li class="mt-25">
                    <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1">
                        # {{ i }}
                    </i>
                    <p class="btn btn-light text-600">{{ s["timestamp_utc"] }}</p>
                    <p class="btn btn-dark text-600">{{ s["os"] }}</p>
                    <p class="btn btn-secondary text-600">{{ s["ip"] }}</p>
                    <p class="btn btn-light text-600">{{ s["browser"] }}<span class="text-danger">v</span>{{ s["v"] }}</p>
                    <p class="btn btn-secondary text-600">{{ s["st"] }}</p>
                    <p class="btn btn-outline-dark text-600">{{ s["lang"] }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>    
    </div>
{% endfor %}
<br><br>

{% endblock %}