{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/link_status.css') }}"/>
<h1>Sent Mails</h1>

{% for l in data %}
    <div class="d-style border-2 bgc-white btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
        <!-- Basic Plan -->
        <div class="row col-md-12">
            <p class="f-n-hover btn btn-raised  text-600">To:</p>
            <p class="f-n-hover btn btn-info btn-raised  text-600">{{ l["receiver"] }}</p>
            <p class="f-n-hover btn btn-raised  text-600">Subject:</p>
            <p class="f-n-hover btn btn-warning btn-raised text-600">{{ l["subject"] }}</p>
            <p class="f-n-hover btn btn-raised  text-600">Seen:</p>
            <p class="f-n-hover btn btn-success btn-raised text-600">#{{ l["status"]|length }}</p>
            <p class="f-n-hover btn btn-raised  text-600">Tags:</p>
            {% for t in l["tags"] %}
                <p class="f-n-hover btn btn-danger btn-raised text-600">{{ t }}</p>
            {% endfor %}
        </div>
        <div class="col-md-12 align-items-center">
            <table class="table table-light">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Datetime</th>
                        <th scope="col">OS</th>
                        <th scope="col">IP</th>
                        <th scope="col">Header</th>
                        <th scope="col">Lang</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, s in l["status"].items() %}
                    <tr>
                        <td scope='row'>{{ i }}</td>
                        <td>{{ s["timestamp_utc"] }}</td>
                        <td>{{ s["os"] }}</td>
                        <td>{{ s["ip"] }}</td>
                        <td>{{ s["st"] }}</td>
                        <td>{{ s["lang"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>    
    </div>
{% endfor %}
<script>
    function copyToClip(ipVal) {
        navigator.clipboard.writeText(ipVal);
        // alert("Copied the text: " + ipVal);
    }
</script>
<br><br>

{% endblock %}