    {% extends "layout.html" %}
   
    {% block content %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
            <form name="logout" action="" method="POST" novalidate>
                <fieldset class="form-group">
                    <legend>{{ title }}</legend>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.message }}    
                        {{ form.submit() }}
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
 {% endblock %}